<div id="main_container">
  <!--================================Start of Top nav bar==============================================-->
  <div class="">
    <nav class="navbar navbar-expand-lg fixed-top  navbar-light bg " id="Mynavbar">
      <a class="navbar-brand"><i class="fas fa-luggage-cart"></i>BookMyRoom</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>
  </div>
  <!--================================End of top nav bar==============================================-->
  <br>
  <!--=============================================FORGOT PASSWORD=======================================================-->
  <div class="division" align="center">
    <mat-card class="card">
      <mat-card-title>Forgot Password?</mat-card-title>
      <mat-card-content>
        <br><br><br>
        <form [formGroup]=emailForm (ngSubmit)="verifyMail(emailForm)">
          <mat-form-field class="email">
            <input matInput placeholder="Email" #email formControlName="email" required>
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>Registered Email ID</mat-hint>
          </mat-form-field>
          <mat-error>
          <span *ngIf="emailForm.get('email').touched"><span *ngIf="!emailForm.get('email').valid">Please give valid Email ID</span></span>
          </mat-error>
          <br>
          <br>
          <button mat-raised-button color="primary" [disabled]="!emailForm.valid">Send OTP</button>
        </form>
        <a routerLink="/"> Go Back </a>
      </mat-card-content>
    </mat-card>
  </div>
  <!--=============================================FORGOT PASSWORD=======================================================-->
  <!--=============================== Start of bottom nav-bar====================================================-->
  <div style="margin-top:100px;">
    <nav class="navbar navbar-expand-lg  navbar-light" id="bot-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.google.com"><i class="fab fa-google-plus-square"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-3 mt-lg-0">
          &#169; 2018 BookMyRoom
        </ul>
      </div>
    </nav>
  </div>
  <!--=============================== End of bottom nav-bar====================================================-->
</div>