/* Structure */
table {
    width: 100%;
    text-align: left;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  